body {
  font-family: Arial;
  background: #0b1d2a;
  color: white;
  text-align: center;
}

.controls {
  margin: 20px;
}

.grid {
  margin: 20px;
  font-size: 20px;
}

#map {
  height: 400px;
  margin: 20px;
  border-radius: 10px;
}
